# Mac OS
*.DS_Store

# Datasets
*.tar
*.zst


# Checkpoints
checkpoints/*
meta_checkpoints/*
merged_checkpoints/*


# logs
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


.vscode

# pyenv
.python-version
